<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="priv.backend.mapper.FeedbackMapper">
    <!--SQL-->

    <!--SQL-->

    <!--Map-->

    <!--Map-->

    <!--Select-->
        <!--分页查询反馈-->
            <select id="getPageFeedback" resultType="Feedback">
                SELECT
                    feedback_id,
                    user_id,
                    feedback_text,
                    timestamp
                FROM
                    feedback
            </select>
        <!--分页查询反馈-->
        <!--查询所有反馈-->
            <select id="getAllFeedback" resultType="Feedback">
                SELECT
                    feedback_id,
                    user_id,
                    feedback_text,
                    timestamp
                FROM
                    feedback
            </select>
        <!--查询所有反馈-->
    <!--Select-->

    <!--Update-->

    <!--Update-->

    <!--Insert-->

    <!--Insert-->

    <!--Delete-->

    <!--Delete-->

</mapper>