<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="priv.backend.mapper.FilePostMapper">
    <!--SQL-->

    <!--SQL-->

    <!--Map-->

    <!--Map-->

    <!--Select-->
        <!--根据postId查询对应的文件数据-->
        <select id="getFilePostByPostId" resultType="FilePosts" >
            select
                fp.file_id as file_id,
                fp.post_id as post_id,
                fp.file_type as file_type,
                fp.file_name as file_name,
                fp.file_suffix as file_suffix,
                p.user_id as user_id
            from
                file_post fp
                    left join post p on fp.post_id = p.post_id
            where fp.post_id = #{postId}
        </select>
        <!--根据postId查询对应的文件数据-->
    <!--Select-->

    <!--Update-->

    <!--Update-->

    <!--Insert-->

    <!--Insert-->

    <!--Delete-->

    <!--Delete-->

</mapper>