<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="priv.backend.mapper.PostMapper">
    <!--SQL-->

    <!--SQL-->

    <!--Map-->
    <resultMap id="getPagePostMap" type="RespPostVO" >
        <id property="postId" column="post_id"/>
        <result property="userId" column="user_id" />
        <result property="topic" column="topic" />
        <result property="content" column="content" />
        <result property="timestamp" column="timestamp" />
        <result property="linkCount" column="link_count" />
        <result property="commentCount" column="comment_count" />
        <association property="types" column="type_id"
                     select="priv.backend.mapper.TypesPostMapper.getTypesPostById" />
    </resultMap>
    <resultMap id="getAllPostSynchronizationESMap" type="ESPost" >
        <id property="postId" column="post_id" />
        <result property="userId" column="user_id" />
        <result property="nickname" column="nickname" />
        <result property="topic" column="topic" />
        <result property="content" column="content" />
        <result property="timestamp" column="timestamp" />
        <result property="likeCount" column="like_count" />
        <result property="commentCount" column="comment_count" />
        <association property="type" column="type_id"
                     select="priv.backend.mapper.TypesPostMapper.getESPostTypeByTypeId" />
    </resultMap>
    <!--Map-->

    <!--Select-->
        <!--获取所有帖子-->
        <select id="getPagePost" resultMap="getPagePostMap" >
            select
                post_id,
                user_id,
                topic,
                content,
                timestamp,
                type_id,
                like_count,
                comment_count
            from post
        </select>
        <!--获取所有帖子-->
        <!-- 查询 所有帖子，用于同步到ES-->
        <select id="getAllPostSynchronizationES" resultMap="getAllPostSynchronizationESMap" >
            SELECT
                p.post_id as post_id,
                p.user_id as user_id,
                u.nickname as nickname,
                p.topic as topic,
                p.type_id as type_id,
                p.content as content,
                p.`timestamp` as `timestamp`,
                p.like_count as like_count,
                p.comment_count as comment_count
            FROM `post` p
                     left join `user` u
                               on p.user_id = u.id
        </select>
    <!--Select-->

    <!--Update-->

    <!--Update-->

    <!--Insert-->

    <!--Insert-->

    <!--Delete-->

    <!--Delete-->

</mapper>