@font-face {
  font-family: "iconfont"; /* Project id 4434038 */
  src: url('iconfont.woff2?t=1709877045399') format('woff2'),
       url('iconfont.woff?t=1709877045399') format('woff'),
       url('iconfont.ttf?t=1709877045399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-type:before {
  content: "\e6c0";
}

.icon-tieziguanli:before {
  content: "\e638";
}

.icon-tieziguanli1:before {
  content: "\e601";
}

.icon-navicon-gggl:before {
  content: "\e666";
}

.icon-gonggaoguanli:before {
  content: "\e62e";
}

.icon-gonggaoleixingguanli:before {
  content: "\e600";
}

.icon-fankuiguanli:before {
  content: "\e6bb";
}

.icon-fankuiguanli1:before {
  content: "\e63c";
}

.icon-zhongzhi:before {
  content: "\e63a";
}

.icon-shujufenxi:before {
  content: "\e809";
}

.icon-duoweishujufenxi:before {
  content: "\e78c";
}

.icon-yibiaopan:before {
  content: "\e6cf";
}

.icon-yonghu:before {
  content: "\e768";
}

.icon-gongzuo:before {
  content: "\e687";
}

.icon-yonghuguanli:before {
  content: "\ea49";
}

.icon-jiaoseguanli:before {
  content: "\e618";
}

.icon-pingtaiguanlijiaoseguanli:before {
  content: "\e64c";
}

.icon-dengjiguanli1:before {
  content: "\e603";
}

.icon-menhu_yonghudengjiguanli:before {
  content: "\e7f7";
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-authority:before {
  content: "\e623";
}

.icon-quanxianguanli-:before {
  content: "\e61c";
}

